<div class="CartBox">
        <h1 class="text-danger">Shopping Cart</h1>
        <div class="headCart">
            <p class="lead">You have <label class="text-danger">2</label>item in your cart</p>
            <span class="text-danger card-header"></span>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th style="width: 25%;">Quantity</th>
                    <th>Totale</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr  >
                    <td> <img src=".." alt=".."></td>
                    <td>.title..</td>
                    <td>.Price L.E</td>
                    <td>
                        <div class="Quantity">
                            <button class="btn btn-dark">+</button>
                            <input type="number" class="form-control"     min="1">
                            <button class="btn btn-dark">-</button>
                        </div>
                    </td>
                      <td> 200 L.K</td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Totale : 1500</th>
                    <th><button class="btn btn-success">Order now</button></th>
                </tr>
            </tfoot>
        </table>
    </div>

<div class="alert alert-success" role="alert"><strong>Well  done</strong>Your Order is successfully Send</div>


