<div class="card">
  <div routerLink="/Datiles/{{data.id}}" >
    <img src="{{data.image}}"  alt=".."/>
    <div class="body">
      <h4 >{{data.title}}</h4>
      <p >{{data.description}}</p>
    </div>
  </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-item-center ">
        <button class="btn btn-primary" *ngIf="!addbutten" (click)="addbutten=true" >Add a cart </button>
      <div    class="d-flex w-50"      *ngIf="addbutten">
       <input  type="number" class="form-control"   [(ngModel)]="amount"         >
       <button class="btn btn-danger" (click)="add();addbutten=false"   >Add </button>
      </div>
        <span>{{data.price}}:$</span>
    </div>
  </div>
